body {
    background-image: url(default.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    text-shadow: 2px 2px 1px black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
    font-size: 80px;
}

h4 {
    font-size: 40px;
}

input {
    display: flex;
    margin: auto;
    text-align: center;
    width: 30%;
    height: 5%;
    padding: 0 20px;
}

input,
input::placeholder {
    font: 21px/3 sans-serif;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    width: 30%;
    height: 4%;
    padding: 0 20px;
}

button,
button::placeholder {
    font: 14px/3 sans-serif;
}
